* {
	// html reset
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	// font-family: 'Roboto', sans-serif;
	font-family: "Rubik", sans-serif;
	cursor: default !important;
}
html {
	scroll-behavior: smooth;
	scroll-padding: var(--scroll-padding, 5rem);
}
a {
	cursor: pointer !important;
}
body::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

body {
	background: rgb(29, 29, 31);
	overflow-x: hidden;
	scroll-behavior: smooth;
	height: 300vh;
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 360deg;
	}
}
.nav-container {
	padding: 2vh 0;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	position: fixed;
	top: 0;
	width: 100%;
	transition: 1s;
	z-index: 1000;
	background: var(--background-color, rgba(29, 29, 31, 0));
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
}

.div-logo {
	grid-column: 1 / span 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo {
	font-size: 2rem;
	font-weight: 500;
	color: var(--text-color, white);
	font-family: "Major Mono Display", monospace;
	transition: 1s;
}
.logo2 {
	display: none;
	font-size: 2rem;
	font-weight: 500;
	color: var(--text-color, white);
	font-family: "Major Mono Display", monospace;
	transition: 1s;
}

.logo:hover {
	font-size: 2.25rem;
	font-weight: 1200;
}

nav div.nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: 1s;
	border: 1px solid var(--text-color, white);
	border-radius: 50px;
}

nav div.nav a {
	padding: 1.5rem 10rem;
	color: var(--text-color, white);

	font-size: 1.5rem;
	font-weight: 350;
	// text-transform: uppercase;
	transition: 1s;
}
nav div.nav a:hover,
nav div.nav a.active {
	color: var(--text-color, white);
	transition: 1s;
	font-weight: 1200;
	font-size: 2rem;
}

.goals-container {
	margin-top: 15vh;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.goals-cards {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.card {
	background-color: rgb(49, 49, 51);
	width: 50%;
	margin: 3rem auto;
	/* Add shadows to create the "card" effect */
	box-shadow: 0 8px 16px 4px #000;
	transition: 0.3s;
	border-radius: 15px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 white;
	width: 55%;
	margin: auto;
}

/* Add some padding inside the card container */
.card-container {
	padding: 1.5rem;
	text-align: center;
	background-color: aquamarine;
	border-radius: 0 0 15px 15px;
}

.card-container h2 {
	font-size: 1.5rem;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
	display: block;
	border-radius: 5px 5px 0 0;
	width: 100%;
	height: 14vw;
	object-fit: cover;
}
#todayplan {
	margin-top: 5vh;
}
.todayplan-container {
	font-size: 2rem;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	margin-bottom: 5vh;

	color: white;
}

.warmup {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

#exerciseListContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}
#exerciseList {
	margin: 2rem auto 2rem 5rem;
	line-height: 2.5rem;
}
.cooldown {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

hr {
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.phase-mesocycle {
	margin-top: 5vh;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: gray;
	padding: 2rem;
	line-height: 4rem;
	text-align: center;
}
.check-and-ex {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}

.check-and-ex input,
.check-and-ex2 input,
.check-and-ex3 input {
	margin-right: 1rem;

	transform: scale(2);
}

.check-and-ex2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 2rem auto 2rem 5rem;
}
.check-and-ex3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 2rem auto 2rem 2rem;
}
@media only screen and (max-width: 1400px) {
	.logo {
		font-size: 1.5rem;
		margin-left: 0.5rem;
	}

	nav div.nav a {
		font-size: 1.5rem;
		padding: 1rem 7rem;
	}
	nav div.nav a:hover,
	nav div.nav a.active {
		font-size: 1.75rem;
	}

	.goals-container {
		height: 75vh;
	}

	.card {
		width: 60%;
	}

	.card-container {
		padding: 0.5rem;
	}
	.card-container h2 {
		font-size: 1.2rem;
	}
	.card-container p {
		font-size: 1.1rem;
	}

	.todayplan-container h2,
	.phase-mesocycle h2 {
		font-size: 2.5rem;
	}
	.todayplan-container p {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 1100px) {
	.div-logo {
		display: none;
	}
	.nav-container {
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
	}
	nav div.nav a {
		font-size: 1.5rem;
		padding: 1rem 8rem;
	}
	nav div.nav a:hover,
	nav div.nav a.active {
		font-size: 1.75rem;
	}
	.goals-container {
		height: 80vh;
	}
	.goals-container {
		margin-top: 15vh;
		height: 85vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.goals-cards {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: none;
	}

	.card {
		width: 80%;
	}

	.card:hover {
		width: 85%;
	}
	img {
		height: 20vh;
	}
	.todayplan-container {
		grid-template-rows: 3;
		grid-template-columns: 1fr;
	}
	.todayplan-container h2,
	.phase-mesocycle h2 {
		font-size: 2.5rem;
	}
	.todayplan-container p {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 700px) {
	.goals-container {
		margin-top: 12vh;
	}
	.div-logo {
		display: none;
	}
	.nav-container {
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
	}
	nav div.nav a {
		font-size: 1.3rem;
		padding: 1rem 5rem;
	}
	nav div.nav a:hover,
	nav div.nav a.active {
		font-size: 1.5rem;
	}
	img {
		height: 15vh;
	}
}

@media only screen and (max-width: 500px) {
	.goals-container {
		margin-top: 12vh;
	}
	.div-logo {
		display: none;
	}
	.nav-container {
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
	}
	nav div.nav a {
		font-size: 1rem;
		padding: 1rem 4rem;
	}
	nav div.nav a:hover,
	nav div.nav a.active {
		font-size: 1.25rem;
	}
	img {
		height: 12vh;
	}
	.phase-mesocycle h2 {
		font-size: 1.75rem;
	}
	.warmup h2,
	#currentPhase,
	.cooldown h2 {
		font-size: 1.75rem;
	}
	.check-and-ex2 p,
	#exerciseList p,
	.check-and-ex3 p {
		font-size: 1.25rem;
	}
}
